{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-vue-jsx",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
