
body {
  margin: 0;
  background: #fff;
}

.choose-result {
  text-align: center;
  position: absolute;
  top: 100px;
  width: 80%;
  background-color: #fff;
}

.choose-result .choose-result-cnt {
  margin-top: 30px;
}


input {
  border: 1px solid #5e5e5e;
  height: 30px;
  width: 200px;
}


.picker-header {
  height: 40px;
  width: 100%;
  background-color: #F5F5F5;
}

.picker-header .picker-title {
  text-align: center;
  line-height: 40px;
  color: #959595;
  font-size: 15px;
}