/**
   transform
       1: transform的值有先后顺序,如rotateX(40deg) translateZ(60px);表示先在X轴旋转40度,再在Z轴上移动60px
           如果translateZ(60px) rotateX(40deg);表示先在Z轴上移动60px,再在X轴旋转40度
      2: transform-origin要和transform一起使用才有效
*/

.picker-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  opacity: 0;

  &.open {
    z-index: 1;
    opacity: 1;

    .picker-wrapper {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
  }

  .picker-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
    transition: transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    transform: translate3d(0, 250px, 0);
    -webkit-transform: translate3d(0, 250px, 0);

    .picker-action {
      box-sizing: border-box;
      background-color: #fff;
      padding: 5px 10px;
      box-shadow: 0 -1px 3px 1px #ddd;
      border-bottom: 1px solid #e5e5e5;

      .btn {
        display: inline-block;
        outline: none;
        line-height: 1.42;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        color: #316CCB;
        text-decoration: none;
        white-space: nowrap;

        &.btn-confirm {
          float: right;
        }
      }
    }
  }
}

.m-picker, .m-picker * {
  box-sizing: border-box;
}

.m-picker {
  height: 200px;
  background-color: #fff;

  .m-picker-inner {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
    -webkit-mask-box-image: linear-gradient(top, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);

    .m-picker-list,
    .m-picker-rule {
      z-index: 1;
      position: absolute;
      top: 50%;
      margin-top: -18px;
      width: 100%;
      list-style: none;
      padding: 0;
      line-height: 36px;
      height: 36px;
    }
    .m-picker-rule {
      z-index: 2;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .m-picker-list {
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      //perspective: 1000px;
      //-webkit-perspective: 1000px;
      li {
        display: inline-block;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        color: #959595;
        /* 超出的部分省略 */
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        /* 元素不面向屏幕时是否可见 */
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        &.highlight {
          color: #353535;
          font-weight bold
        }
      }
    }
  }
}
